/* Navigation bar */

.navigationbar {
  background-color: #e4e4e4;
  opacity: 0.8;
}
.navigate-tabs {
  @include flexCenter(row);
  div {
    @include flexCenter(row);
    min-height: 10vh;
    padding-left: 2rem;
  }
  button {
    background-color: #3797a4;
  }
}
