@import "./variables";
@import "./navbar";
@import "./section1";
@import "./section2";
body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  h1 {
    margin: 0;
    font-size: 30px;
    color: black;
  }
}
