@import "./variables";
@import "./navbar.scss";

body {
  // background-color: $bkgroundcolor;
  margin: 0;
  background-image: url("../images/doctable.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
